@import 'fonts.css';
*{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'roboto';
  font-weight: 400;
}
/* body{background: #696969;} */
/* header */
.header{
  width: 1140px;
  min-height: 200px;
  margin: 0 auto;
  padding: 0 15px;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo{
  margin: 50px 0;
  display: flex;
}
.list{
  display: flex;
}
.list a{
  padding: 10px 4px 16px;
  margin: 0 19px ;
  display: flex;
  color: #bab0b0;
  font-size: 18px;
  line-height: 14px;
  border-bottom: 1px solid transparent;
}
.list a:hover{
  border-block-color: #4581b7;
  color: #4581b7;
}
.banner{
  width: 100%;
  min-height: 450px;
  object-fit: cover;
  margin-top: 50px;
}
/* section */
.section{
  width: 1140px;
  min-height: 200px;
  margin: 0 auto;
  padding: 30px 15px;
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
}
.main,
.sidebar{
  background: #232323;
  padding: 40px;
  min-height: 400px;
}
.section h2{
  color: #4581b7;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}
.section p{
  font-size: 16px;
  line-height: 27px;
  color: #7f7f7f;
}
.section a{
  font-size: 16px;
  line-height: 27px;
  color: #7f7f7f;
  margin-top: 45px;
  display: flex;
}
.main{
  width: 730px;
}
.sidebar{
  width: 350px;
}
/* footer */
.footer{
  width: 1110px;
  min-height: 150px;
  margin: 0 auto;
  padding: 40px;
  /* border: 1px solid black; */
  background: #232323;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.asd{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.asd span{
  font-size: 16px;
  color: #808080;
}
.asd a{
  font-weight: 700;
  font-size: 25px;
  color: #808080;
}
























